/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    margin: 1rem 0rem;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 255);
    font-size: 15px;
    position: fixed;
    font-family: "Montserrat";
}

.image-top {
    position: fixed;
    margin: 0 80%;
}

.image-bottom {
    position: fixed;
    top: 75vh;
    z-index: -1;
}

.basic-card {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.143);
    height: 42vh;
    width: 40vh;
    text-align: center;
}

.professional-card {
    border-radius: 6px;
    background-image: linear-gradient(#9fa2f1, #8185e7);
    text-align: center;
    height: 50vh;
    width: 40vh;
    color: #ffffff;
}

.toggle {
    margin-top: 2rem;
    color: hsl(234, 14%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn {
    margin: 0 1rem;
}

.checkbox {
    display: none;
}

.sub {
    background: linear-gradient(135deg,
            rgba(163, 168, 240, 1) 0%,
            rgba(105, 111, 221, 1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.checkbox:checked+.sub {
    justify-content: flex-end;
}

.master-card {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 42vh;
    width: 40vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vh;
    margin: 0rem auto;

    text-align: center;
    z-index: 1;
    font-weight: bold;
    opacity: 0.8;
    font-size: 1rem;
}

h1 {
    text-align: center;
    opacity: 0.5;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 4rem;
}

#basic {
    font-size: 3rem;
    color: #323547;
    font-weight: bold;
    opacity: 0.8;
}

#professional {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.8;
}

#master {
    font-size: 3rem;
    color: #323547;
    background-color: #ffffff !important;
    font-weight: bold;
    opacity: 0.8;
}

.professional {
    margin-top: 3.3rem;
}

button {
    background-image: linear-gradient(to right, #9fa2f1, #8185e7);
    border-radius: 10px;
    width: 20vh;
    height: 5vh;
    color: #ffffff;
    border: none;
}

.professional-button {
    color: #8185e7 !important;
    background-image: linear-gradient(#ffffff, #ffffff) !important;
    padding-top: 0rem !important;
}

.button-master {
    margin-top: 0rem !important;
}

@media screen AND (max-width: 375px) {
    .container {
        position: relative;
    }

    .image-bottom {
        position: fixed;
        margin-left: 40vh;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        text-align: center;
        z-index: 1;
        font-weight: bold;
        opacity: 0.8;
        font-size: 1rem;
    }

    .basic-card,
    .professional-card,
    .master-card {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}